.body {

    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.oneContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image img{
    width: 30.5rem;
    height: auto;
}

#title {
    padding-top: 10px;
    color: #092a5e;
    font-size: 26px;
    margin: 0;
    font-weight: bold;
}

#italie {
    color: gray;
    font-size: 19px;
}

.logo {
    padding-left: 20px;
    padding-top: 20px;
    width: 4.5rem;
    height: auto;
}

.icon img {
    padding-top: 10px;
    width: 1.4rem;
    height: auto;
}

.secondContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#spanNote {
    color:rgb(86, 195, 228);  
    font-size: 25px;
    font-weight: bold;
}

#avis {
    font-size: 20px;
    margin-left: 5px;
}

.nuit {
    font-size: 19px; 
    color: grey;
}

.Prix {
    font-size: 40px;
    color:red;
    font-weight: bold;
    flex-direction: row;
    display: flex ;
    margin-left: 1%;
}

.TTC {
    font-size: 14px;
    color:red;
    display: flex;
    flex-direction: row;
    margin-left: 0.5%;
    margin-top: 0.5%;
}

.Info{
    font-size: 15px;
    color:red; 
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-top: 1%;
}

.reduc{
    font-size: 25px;
    color:white; 
    background-color: red;
    margin-left: 1.5%;
}

.acrroche {
    font-size: 19px; 
    color: grey; 
    display: flex;
    margin-top: 0.4%;
    margin-left: 1%;
}

.prixSansReduc {
    font-size: 19px; 
    color: grey; 
    display: flex;
    margin-left: 0.4%;
    font-weight: bold;
}

.cent {
    color: grey; 
    font-size: 21px; 
}

.x {
    color: grey; 
    font-size: 21px; 
}

.trois {
    color: grey; 
    font-size: 21px; 
}

.InfoGris {
    color: grey; 
    font-size: 21px; 
}

.troisFois img {
    width: 2.5rem;
    height: auto;
    margin-left: 0.4%;
    margin-top: 1%;
}